

@{
    ViewBag.Title = "Accueil";

    Layout = Layout = "~/Views/Shared/_LayoutCommercial.cshtml";

}
<h2>Accueil</h2>
<div>
    <p>
        Bienvenue dans le monde MVC  <span style="color:red">@ViewData["Nom"]</span>
    </p>
</div>
